@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
}

.navigation {
  background-color: #059669;
  color: white;
  padding: 1.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Acme", sans-serif;
  text-shadow: 2px 2px #000;
}

.btns {
  font-size: 1.2rem;
  margin: 1rem 1rem;
  border-radius: 2rem;
  color: #000;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 32px;
  background: #caf0c1;
}

.output-div {
  margin: 4rem 0;
}

.outputFood {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 65%;
  border-radius: 42px;
  background: #a7f3d0;
}

.outputFood div {
  flex: 1;
}

.img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.text-right {
  text-align: left;
  line-height: 1.3;
  padding: 1rem;
}

.food-text {
  font-size: 2.4rem;
  font-weight: 600;
}

.desc-text {
  font-size: 1.2rem;
  font-weight: 200;
}

footer {
  margin-top: 4rem;
  background-color: #059669;
  padding: 1.5rem 0rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  text-align: center;
  line-height: 2rem;
  color: #ffffff;
}

footer p {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0;
  font-family: "Acme", sans-serif;
  text-shadow: 2px 2px #000;
}
